@tailwind base;
@tailwind components;
@tailwind utilities;

/* Helpers */
.font-hand {
  font-family: var(--font-hand);
}

.font-reading {
  font-family: var(--font-reading);
}

.font-ui {
  font-family: var(--font-ui);
}

:root { --broc: url("/cursors/broccoli.png") 32 32, auto; }

html, body { cursor: var(--broc); }

a, button, [role="button"], svg, svg * {
  cursor: var(--broc) !important;
}